// Media queries don't accept CSS variables
$grid-gallery-breakpoint: 400px;

.grid-gallery {
  max-width: 100%;

  // Note for keyboard users and those navigating with assistive devices.
  .key-note {
    display: none; // Overridden at breakpoint
    margin: 0;
    padding: 0 0 1px;
    font-size: 80%;
    font-style: italic;

    kbd {
      padding: 0.15em 0.35em;
      background-color: #ddd;
      color: black;
      border-radius: 0.2em;
      font-family: monospace;
      font-size: inherit;
    }

    // Accessibly hiding .key-note by default and displaying when
    // tabbed or focused.
    &:not(:focus):not(:focus-visible):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: calc(var(--grid-gallery-image-active-outline-size) / 2) 0;
    background: var(--grid-gallery-background);
  }

  li {
    flex-basis: 100%; // Overridden at breakpoint
    margin: calc(var(--grid-gallery-image-active-outline-size) / 2);
    padding: 0;
    list-style-type: none;
    transition-property: transform, opacity, outline-color;
    transition-timing-function: ease-in-out;
    transition-duration: var(--grid-gallery-duration-shrink);
    outline: calc(var(--grid-gallery-image-active-outline-size) / 2) solid
      transparent;
  }

  ul.is-zoomed {
    li {
      opacity: var(--grid-gallery-background-opacity);

      &.is-zoomed {
        opacity: 1;
      }
    }
  }

  li.is-zoomed {
    outline-color: var(--grid-gallery-image-active-outline-color);
    transition-duration: var(--grid-gallery-duration-expand);
  }

  li.is-zoomed button,
  ul:not(.is-zoomed) button:focus {
    outline-color: var(--grid-gallery-image-active-outline-color);
  }

  @media (prefers-reduced-motion) {
    li,
    li.is-zoomed {
      transition-duration: 0s;
    }
  }

  button {
    all: initial;
    display: grid;
    align-items: start;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    &:focus-visible {
      outline: calc(var(--grid-gallery-image-active-outline-size) / 2) solid
        var(--grid-gallery-image-active-outline-color);
    }
  }

  figure {
    position: relative;
    margin: 0;
    padding: 0;
    aspect-ratio: var(--grid-gallery-image-aspect);
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: var(--grid-gallery-caption-padding);
    font-size: var(--grid-gallery-caption-font-size);
    color: var(--grid-gallery-caption-font-color);
    background: var(--grid-gallery-caption-background);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: $grid-gallery-breakpoint) {
    .key-note {
      display: block;
    }

    li {
      flex-basis: calc(
        (100% / var(--grid-cols)) -
          calc(var(--grid-gallery-image-active-outline-size) * 1.5)
      );

      &:hover {
        outline-color: var(--grid-gallery-image-active-outline-color);
      }
    }
  }
}
